.light {
  --color-bg-first: #effbfc;
  --color-base-text: #255765;
  --color-a-hover: #154674;
  --color-text-button: #d7f4f6;
  --color-bg-button: #12303a;
}

.dark {
  --color-bg-first: #255765;
  --color-base-text: #b3e9ee;
  --color-a-hover: #5eaffc;
  --color-text-button: #d7f4f6;
  --color-bg-button: #12303a;
}

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  color: var(--color-base-text);
  background-color: var(--color-bg-first);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}

a {
  color: var(--color-a-hover);
  align-self: center;
}


.nabla-u > {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  width: 95%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  text-align: center;
}

@media screen and (max-width: 430px) {
  .setButtons {
    position: absolute;
    top: 2%;
    left: 3%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 10px;
    align-items: center;
  }

  section {
    margin-top: 5rem;
  }

  h1 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 431px) {
  .setButtons {
    position: absolute;
    top: 1rem;
    right: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  section {
    margin-top: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.setButtons > fieldset {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 0.3rem;
}

/* toggle button */
.toggle {
  border: 0px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  background-color: transparent;
  margin: 0 auto;
}

.animate1 {
  animation: opacity 0.7s both;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* content style */

section > article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section > article > h1 {
  min-width: 300px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

section > article > div {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

section > article > p , footer{
  min-width: 300px;
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: left;
}

section > article > div > p {
  font-size: 1rem;
  text-align: left;
  margin-left: 15px;
}

.subtitle {
  font-weight: 700;
  padding-top: 1.5rem;
}

.hook{
  width: 50%;
  max-width: 300px;
  min-width: 200px;
  padding: 1rem;
}
.hook > p {
  font-family: "Playfair Display", serif;
  font-size: large;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:italic;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
